.grumble-list-container{
    width: 55%;
}


.grumble-filter-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  /* Style for individual filter buttons */
  .grumble-filter-tabs button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  /* Style for filter buttons on hover */
  .grumble-filter-tabs button:hover {
    background-color: #0056b3; 
  }
  