.grumble-list-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 768px) {
        width: 100%; 
    }
}

 hr {
  width : 300px;
  border: 2px solid rgb(190, 37, 17);
  border-radius: 5px;
  margin-right: 3px;

  @media (max-width: 768px) {
    display: none; 
}
 }

 .grumble-filter{
  display: flex;
 }

  