/* Grumble.css */
.grumble-card-container {
  display: flex;
  justify-content: center
}

.grumble-container {
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  width: 80%;

  @media (max-width: 768px) {
    width: 90%; 
}
}

.profile-tagline {
  display: none;
}

.grumble-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.grumble-name {
  line-height: 0%;
}

.stamp-image {
  width: 50px;
  height: 50px;
}

.grumble-name > h3{
  font-size: 15px;
  color: #ccc;
}

.grumble-header > * {
  margin-right: 20px;
}

.grumble-username {
  font-weight: bold;
}

.grumble-text {
  margin-top: 8px;
}

.button-container {
  margin-top: 16px;
}

.like-button,
.dislike-button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.like-button {
  background-color: #4caf50;
  color: #fff;
}

.dislike-button {
  background-color: #f44336;
  color: #fff;
}

.like-button:hover,
.dislike-button:hover {
  opacity: 0.8;
}

.grumble-container.valid {
  background-color: #4caf50; /* Green background color */
}

/* Styles for Invalid Card */
.grumble-container.invalid {
  background-color: #f44336; /* Red background color */
}
