/* Grumble.css */
.grumble-card-container {
  display: flex;
  justify-content: center
}

.grumble-container {
  border: 1px solid #ccc;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  height : 500px;
  width : 300px;
  box-shadow:
  10px 10px 0px 0px rgba(99, 98, 98, 0.2),  
  15px 15px 0px 0px rgba(99, 98, 98, 0.2);
}


.profile-tagline {
  display: none;
}

.grumble-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.grumble-name {
  line-height: 0%;
}

.stamp-image {
  width: 50px;
  height: 50px;
}

.grumble-name > h3{
  font-size: 15px;
  color: #ccc;
}

.grumble-header > * {
  margin-right: 20px;
}

.grumble-username {
  font-weight: bold;
}

.grumble-text {
  margin-top: 8px;
}

.button-container {
  margin-top: 16px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.like-button,
.dislike-button {
  width : 60px;
  height : 60px;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.like-button {
  background-color: #4caf50;
  color: #fff;
}

.dislike-button {
  background-color: #f44336;
  color: #fff;
}

.like-button:hover,
.dislike-button:hover {
  opacity: 0.8;
}

.grumble-container.valid {
  background-color: #4caf50; /* Green background color */
}

/* Styles for Invalid Card */
.grumble-container.invalid {
  background-color: #f44336; /* Red background color */
}

.speech-bubble {
  width: 270px;
  border-radius: 30px;
  min-height: 150px;
  margin: 50px auto;
  border: 4px solid #f02c09;
  text-align: center;
  display: flex;
  font-weight: 900;
  color: #f02c09;
  font-family: arial;
  position: relative;
  align-items: center;
  justify-content: center;
}



.speech-bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #f02c09;
  border-top: 10px solid #f02c09;
  border-bottom: 10px solid transparent;
  right: 20px;
  bottom: -23px;
}

.speech-bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  right: 24px;
  bottom: -13px;
}


