.bar-container {
    position: relative;
}

.bar {
    background-size: cover;
    height: 100%;
    margin-bottom: 10px;
    
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
}
