

.home-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F2EE;
}

.profile-image {
    margin-bottom: 20px;
}

.grumble-user-edit {
    margin-right: 15px;
}

.grumble-user-edit > button {
    border-radius: 100px;
}


.grumble-feed {
    padding: 20px;
    padding-top: 20px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    @media (max-width: 768px) {
        width: 95%; 
    }
}

.grumble-pic {
    background-color: #EB3937;
    display: flex;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}