/* EditProfile.css */

/* Style the container div */
.container {
    text-align: center;
    padding: 20px;
  }
  
  /* Style the profile pic */
  .profile-pic {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    margin: 20px auto;
    margin-bottom: 20px;
  }
  
  /* Style the form */
  .form {
    max-width: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Adjust the number of columns as needed */
  grid-gap: 20px;

  
  }
  
  /* Style the form elements */
  .form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style the submit button */
  .form button {
    background-color: #EB3937;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #c52f2c;
  }

  .form select:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }


  .form select {
    width: 200px; /* Change this value to your desired width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .edit-container {
    width: 100vw; 
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-grid {
    margin-right: 450px;
    padding: 20px;
  }

  .form button {
    padding:10px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .profile-pic {
      width: 80px; /* Adjust the size for smaller screens */
      height: 80px; /* Adjust the size for smaller screens */
      margin: 10px auto; /* Adjust margins for smaller screens */
      margin-bottom: 10px; /* Adjust margins for smaller screens */
    }
  
    .form {
      max-width: 300px; /* Adjust max-width for smaller screens */
      grid-template-columns: 1fr 1fr; /* Display form elements in a single column */
      grid-gap: 10px; /* Adjust grid gap for smaller screens */
    }
  
    .form label {
      font-size: 14px; /* Adjust font size for labels on smaller screens */
    }
  
    .form select, .form button {
      width: 100%; /* Make select and button full-width on smaller screens */
    }
  
    .form button {
      padding: 8px; /* Adjust button padding for smaller screens */
      margin-bottom: 20px; /* Adjust button margin for smaller screens */
    }

    .form-grid {
      margin-right: 0px;
    }

  }